<div>
  <h1>Juego del Ahorcado</h1>
  <app-hangman-drawing [lives]="lives"></app-hangman-drawing>
  <p>{{ displayWord.join(' ') }}</p>

  @if (isGameOver()) {
    @if (isGameWon()) {
      <div>
        <p>¡Ganaste!</p>
      </div>
    } @else {
      <div>
        <p>Perdiste. La palabra era: {{ selectedWord }}</p>
        <button (click)="startNewGame()">Jugar de nuevo</button>
      </div>
    }
  } @else {
    <div>
      <p>Vidas restantes: {{ lives }}</p>
      <div>
        @for (letter of 'abcdefghijklmnopqrstuvwxyz'; track letter) {
          <button (click)="guessLetter(letter)">{{ letter }}</button>
        }
      </div>
    </div>
  }
</div>
